{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Cart
{% endblock %}

{% block content %}
<h1>Cart</h1>
<table class="cart">
    <thead>
    <tr>
        <th>image</th>
        <th>item</th>
        <th>quantity</th>
        <th>delete</th>
        <th>amount</th>
        <th>price</th>
        <th>total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
        <td>
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
        </td>
        <td>{{ product.name }}</td>
        <td>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Update">
                {% csrf_token %}
            </form>
        </td>
        <td><a href="{% url 'cart:cart_remove' product.id %}">Delete</a></td>
        <td>
            {{ item.quantity }}
        </td>
        <td class="num">€{{ item.price }}</td>
        <td class="num">€{{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
        <td>
            <form action="{% url 'cart:cart_clear' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Clear Cart">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button light">To shop</a>
    <a href="#" class="button">Make order</a>
</p>
{% endblock %}