{% extends "admin_base.html" %}

{% block content %}
<div class="user-info">
    <p>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}</p>
</div>
<div class="admin-content">
    <h2>Список элементов:</h2>
    <table>
        <!-- Таблица с данными элементов -->
    </table>
    <h2>Добавить новый элемент:</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>
</div>
{% endblock %}